body{
     background-color: #FEF9EF;
}
hr{
     border-color: #FEE440;
     border-style: dotted none none none;
     width:5%;
     border-width:10px;
  }
img{
     height:200px;
}
h1{
   color:#FF865E;
}
h3{
   color:#FF865E;
}