body{
    background-color:#F6F5F5;
    margin:1;
    font-family: 'Libre Franklin', sans-serif;
}

.header{
    background-color:#D3E0EA;
    height:100px;
    position:sticky;
    top:0;
}

.myName{
    color:#f55c51;
    display:block;
    text-align:center;
    font-family:'Ubuntu', sans-serif;
    font-size:1.5rem;
    margin:0 auto auto auto;
}

.fuji{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill-row{
    display:inline-block;
    width:33%;
}

h1{
    color:#276678;
    font-family:'Kaushan Script', cursive;
    font-size:300%;
    margin:50px auto 0 auto;
    text-align:center;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    font-size:2.5rem;
    font-weight:normal;
    color:#1687A7;
    margin:50px auto 50px auto;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
}

.headName{
    text-align:left;
    display:inline;
    position:absolute;
    margin:0 auto auto auto;
    color:#F6F5F5;
}


.profile_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width:300px;
}

.profile{
    text-align:center;
}

.python_skills_logo{
    display:inline;
    height:200px;
    width:200px;
    margin:auto auto auto 50px;
}

.data_skills_logo{
    display:inline;
    height:200px;
    width:200px;
    margin:auto auto auto 90px;
}

.portfolio-img{
    display:inline;
    height:200px;
    width:200px;
    margin:auto auto auto 50px;
}

a{
    text-decoration-color:#1687A7;
    color:#1687A7;
}

hr{
    border-style: dotted;
    border-width:10px 0 0 0;
    width:7%;
    border-color:#FF7272;
}

.italic{
    font-style: italic;
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.linkedin{
    height:50px;
    width:50px;
    display:inline;
    position:absolute;
    right:5px;
    top:5px;
}

.gitHub{
    height:50px;
    width:50px;
    display:inline;
    position:absolute;
    right:65px;
    top:5px;
}

.mailMe{
    height:50px;
    width:50px;
    display:inline;
    position:absolute;
    right:125px;
    top:5px;
}

.portfolioIcon{
    height:50px;
    width:50px;
    display:inline;
    position:absolute;
    right:185px;
    top:5px;
}

.ExperienceRow{
    width:50%;
    margin:auto;
    text-align:left;
    padding-bottom:50px;
    padding-top:30px;
}

.ab-inbev-img{
    display:inline;
    float:left;
    height:200px;
    width:200px;
    margin-right:20px;
}

.edelap1{
    display:inline;
    float:right;
    height:200px;
    width:200px;
    margin-right:20px;
}

.edelap2{
    display:inline;
    float:left;
    height:200px;
    width:200px;
    margin-right:20px;
}

.weizur{
    display:inline;
    float:right;
    height:200px;
    width:200px;
    margin-right:20px;
}

.back_arrow{
    height:50px;
    width:50px;
    display:inline;
    position:absolute;
    right:5px;
    top:5px;
}

.bottom-container{
    margin:50px auto auto auto;
}

/*
    PORTFOLIO CONFIG
*/

.projectsRow{
    width:80%;
    margin:auto;
    text-align:left;
    padding-bottom:50px;
    padding-top:50px;
}


.londonIMG{
    display:inline;
    float:left;
    height:400px;
    width:400px;
    margin:30px auto auto auto;
    padding-right:10px;
    padding-left:10px;
}

.attritionIMG{
    display:inline;
    float:right;
    height:400px;
    width:400px;
    margin:30px auto auto auto;
    padding-right:10px;
    padding-left:10px;
}

.titanicIMG{
    display:inline;
    float:left;
    height:400px;
    width:400px;
    margin:30px auto auto auto;
    padding-right:10px;
    padding-left:10px;
}

.deliveryIMG{
    display:inline;
    float:right;
    height:400px;
    width:400px;
    margin:30px auto auto auto;
    padding-right:10px;
    padding-left:10px;

}

.projectTitle{
    padding-top:40px;
}

.projectDescription{
    padding-left:10px;
    padding-right:10px;
}

/*
BUTTON STYLE
*/

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #fafafa;
  font-size: 20px;
  background: #4c9bcf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e62b6a;
  text-decoration: none;
}

.btnNotebooks {
  margin-left:100px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnNotebooks:hover {
  background: #ff7070;
  background-image: -webkit-linear-gradient(top, #ff7070, #ff6b6b);
  background-image: -moz-linear-gradient(top, #ff7070, #ff6b6b);
  background-image: -ms-linear-gradient(top, #ff7070, #ff6b6b);
  background-image: -o-linear-gradient(top, #ff7070, #ff6b6b);
  background-image: linear-gradient(to bottom, #ff7070, #ff6b6b);
  text-decoration: none;
}

.selector{
    width:50%;
    margin:auto;
}

/*
DASHBOARDS
*/

.tableauPlaceholder{
    margin:auto;
}
